@using DistribuidoraEntidades;
@model List<Producto>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Distribuidora</h1>
    
</div>
<div class="card">

    <div class="card-body">
        <a asp-action="Producto" class="btn btn-primary btn-sm" asp-controller="Home" asp-route-IdProducto="0">Nuevo Producto</a>
        <hr />

        <table class="table">
               <thead>
                   <tr>
                       <th>IdProducto</th>
                       <th>IdProveedor</th>
                       <th>IdTipoProducto</th>
                       <th>Name</th>
                       <th>Clave</th>
                       <th>Precio</th>
                       <th>Editar</th>
                   </tr>
               </thead>
               <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                        <td>@item.IdProducto</td>
                        <td>@item.IdProveedor</td>
                        <td>@item.IdTipoProducto</td>
                        <td>@item.Nombre</td>
                        <td>@item.Clave</td>
                        <td>@item.Precio</td>
                        <td>
                            <a asp-action="eliminarproducto" class="btn btn-primary btn-sm" asp-controller="Home" asp-route-IdProducto="@item.IdProducto">Eliminar</a>
                            <a asp-action="producto" class="btn btn-primary btn-sm" asp-controller="Home" asp-route-IdProducto="@item.IdProducto">Modificar</a>
                        </td>
                    </tr>
                    
                }
            </tbody>
        </table>
    </div>
</div>